Source: apk-icon-editor
Section: editors
Priority: optional
Maintainer: Alexander Gorishnyak <kefir500@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://qwertycube.com/apk-icon-editor/
Vcs-Git: git://github.com/kefir500/apk-icon-editor.git
Vcs-Browser: https://github.com/kefir500/apk-icon-editor

Package: apk-icon-editor
Architecture: any
Depends: zipalign, default-jre-headless | java7-runtime-headless | java7-runtime, ${shlibs:Depends}, ${misc:Depends}
Description: Simple APK resource editor
 APK editor designed to easily change
 APK icons, name, version and other resources.
